.proper{
  z-index:0;
}
.text{
  position:relative;
  z-index: 1;
  margin-top:10%;
  font-size: xx-large;

}
.one{
  color:blue;
}

.link{
  background: blue;
  border-radius: 50px;
  font-size: large;
  padding: 15px;
  color:white;
  border:black;
  margin-top: 50px;


}

.location{
  margin-top: 8%;
}
.phrase{
  font-size: 17px;
  color:blue;
}


